:root {
  font-family: sans-serif, Georgia;
  line-height: 1.5;
  font-weight: 600;
  --font-mushaf: '__MushafFont_885318', '__MushafFont_Fallback_885318';
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 5;
  display: flex;
  place-items:start ;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #010210;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-style.rap-container {
  background-color: #e4e4e4;
  color: #566574;
  border-radius: 20px;
}

.custom-style.rap-container .rap-slider .rap-progress {
  background-color: #959595;
}

.custom-style.rap-container .rap-slider .rap-progress .rap-pin {
  background-color: #566574;
  height: 18px;
  width: 18px;
  border-radius: 10px;
}

.custom-style.rap-container .rap-controls .rap-slider .rap-progress .rap-pin {
  top: -5px;
}

.custom-style.rap-container .rap-controls .rap-slider {
  height: 8px;
  border-radius: 4px;
}

.custom-style.rap-container .rap-volume .rap-volume-btn.rap-volume-open path {
  fill: #000;
}

.custom-style.rap-container .rap-volume .rap-volume-controls {
  background-color: #e4e4e4;
}

.custom-style.rap-container .rap-volume .rap-volume-controls .rap-slider,
.custom-style.rap-container
  .rap-volume
  .rap-volume-controls
  .rap-slider
  .rap-progress {
  width: 8px;
}